<div class="dHeader dHeaderExtra">
    <p class="mt-3"> View Document
      <img (click)="dialogRef.close()" class="cancel-icon" src="./assets/img/icons/close-button.svg" alt="">
    </p>
  </div>
  <div class="dialog-container addSiteCoordinator">
      <mat-list>
          <h3 mat-subheader>Documents List</h3>
          <mat-list-item *ngFor="let url of urls">
            <p mat-line (click)="openFile(url.url)">{{url.name}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
  </div>
  