<section class="greybg">
  <div class="greybgContainer umaContainer">
    <div class="row greybgHeaderRow">
      <div class="col">
        <div class="text-right">
          <div class="search">
            <div class="form-group">
              <input type="text" class="form-control search-field" placeholder="Search" (keyup)="searchData()" [(ngModel)]="searchFilter"/>
              <span class="align-icon">
                <img class="" src="./assets/img/icons/search.svg" alt="search">
              </span>
            </div>
          </div>
          <div class="col-auto pull-right">
            <button class="btn btn-primary addBtn" (click)="openDialog()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="url ==='users'">
      <mat-card class="mb-4" >
        <mat-card-content>
          <table class="table table-hover">
            <thead class="cust-theme-heading  table-content">
              <tr>
                <th scope="col">Name</th>
                <th scope="col"> Email </th>
                <th scope="col">Type </th>
                <th scope="col">Action </th>
              </tr>
            </thead>
            <tbody class='cust-theme-body'>
              <tr *ngFor="let user of userList">
                <td class="table-content">{{user.name}} </td>
                <td class="table-content">{{user.email}} </td>
                <td class="table-content"> {{user.userType}} </td>
                <td class="table-content">
                  <img class="filterIcon icons" src="./assets/img/icons/delete.svg" alt="filter" (click)="deleteUser(user._id)">
                    <img class="filterIcon icons" src="./assets/img/icons/edit.svg" alt="filter" (click)="editUser(user)">
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12"*ngIf="url ==='prodcuts'">
      <mat-card class="mb-4" >
        <mat-card-content>
          <table class="table table-hover">
            <thead class="cust-theme-heading  table-content">
              <tr>
                <th scope="col">Name</th>
                <th scope="col"> Email </th>
                <th scope="col">Type </th>
                <th scope="col">Action </th>
              </tr>
            </thead>
            <tbody class='cust-theme-body'>
              <tr *ngFor="let product of productList">
                <td class="table-content">{{product.nickName}} </td>
                <td class="table-content">{{product.emailId}} </td>
                <td class="table-content"> Type </td>
                <td class="table-content">
                  <img class="filterIcon icons" src="./assets/img/icons/delete.svg" alt="filter" (click)="deleteUser(product._id)">
                    <img class="filterIcon icons" src="./assets/img/icons/edit.svg" alt="filter" (click)="editUser(product)">
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
