<section class="greybg">
  <div class="greybgContainer umaContainer">
    <div class="row greybgHeaderRow">
      <div class="col">
        <div class="text-right">
          <div class="search">
            <div class="form-group">
              <input type="text" class="form-control search-field" placeholder="Search" (keyup)="searchData()" [(ngModel)]="searchFilter"
              />
              <span class="align-icon">
                <img class="" src="./assets/img/icons/search.svg" alt="search">
              </span>
            </div>
          </div>
          <div class="col-auto pull-right">
            <button class="btn btn-primary addBtn" (click)="openDialog()">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Users List -->
    <div class="col-12" *ngIf="url ==='users'">
      <mat-card class="mb-4">
        <mat-card-content>
          <table class="table table-hover">
            <thead class="cust-theme-heading  table-content">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">address</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Document</th>
                <!-- <th scope="col">Experience</th> -->
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class='cust-theme-body'>
              <tr *ngFor="let user of userList">
                <td class="table-content">{{user.name}} </td>
                <td class="table-content">{{user.phone}} </td>
                <td class="table-content">{{user.address}} </td>
                <td class="table-content">{{user.email}} </td>
                <td class="table-content"> {{user.userType}} </td>
                <!-- <td class="table-content"> {{user.experience}} </td> -->
                <td class="table-content">
                  <span *ngIf="user.isValidated">Approved</span>
                  <Button *ngIf="!user.isValidated" class="btn-primary checkButtons btnAprove icons" (click)="changeUserStatus(user)">Approve</Button>
                </td>
                <td class="table-content">
                  <img (click)="viewDocument();" class="pdf" src="./assets/img/icons/file.svg" alt="file">
                </td>
                <td class="table-content">
                  <img class="filterIcon " src="./assets/img/icons/edit.svg" alt="filter" (click)="editUser(user)">
                  <img class="filterIcon " src="./assets/img/icons/delete.svg" alt="filter" (click)="deleteUserOrProduct(user._id)">
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Product List -->
    <div class="col-12" *ngIf="url ==='product'">
      <mat-card class="mb-4">
        <mat-card-content>
          <table class="table table-hover">
            <thead class="cust-theme-heading  table-content">
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price </th>
                <th scope="col">Description </th>
                <th scope="col">Action </th>
              </tr>
            </thead>
            <tbody class='cust-theme-body'>
              <tr *ngFor="let product of userList">
                <td class="table-content">{{product.productName}} </td>
                <td class="table-content">{{product.price}} </td>
                <td class="table-content">{{product.description}} </td>
                <td class="table-content">
                  <img class="filterIcon icons" src="./assets/img/icons/delete.svg" alt="filter" (click)="deleteUserOrProduct(product._id)">
                  <img class="filterIcon icons" src="./assets/img/icons/edit.svg" alt="filter" (click)="editProduct(product)">
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Order List -->
    <div class="col-12" *ngIf="url ==='order'">
      <mat-card class="mb-4">
        <mat-card-content>
          <table class="table table-hover">
            <thead class="cust-theme-heading  table-content">
              <tr>
                <th scope="col">User Name</th>
                <th scope="col">Phone </th>
                <th scope="col">Total Price </th>
                <th scope="col">Quantity </th>
                <th scope="col">Payment Method </th>
                <th scope="col">Status </th>
              </tr>
            </thead>
            <tbody class='cust-theme-body'>
              <tr *ngFor="let order of userList">
                <td class="table-content">{{order.userName}} </td>
                <td class="table-content">{{order.userPhone}} </td>
                <td class="table-content">{{order.totalPrice}} </td>
                <td class="table-content">{{order.quantity}} </td>
                <td class="table-content">{{order.paymentMethod}} </td>
                <td class="table-content">
                  <div>
                    <span *ngIf="order.status === 'success'" class="checkButtons success-text "> Success </span>
                    <span *ngIf="order.status !== 'success'" class="checkButtons failed-text "> Failed </span>
                  </div>
                </td>
                <!-- <td class="table-content">
                  <img class="filterIcon icons" src="./assets/img/icons/delete.svg" alt="filter" (click)="deleteUser(product._id)">
                    <img class="filterIcon icons" src="./assets/img/icons/edit.svg" alt="filter" (click)="editUser(product)">
                </td> -->
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Appointment List -->
    <div class="col-12" *ngIf="url ==='appointment'">
      <mat-card class="mb-4">
        <mat-card-content>
          <table class="table table-hover">
            <thead class="cust-theme-heading  table-content">
              <tr>
                <th scope="col">User Name</th>
                <th scope="col">User Phone </th>
                <th scope="col">Availed Service </th>
                <th scope="col">Provider Name </th>
                <th scope="col">Provider Phone </th>
                <th scope="col">Status </th>
              </tr>
            </thead>
            <tbody class='cust-theme-body'>
              <tr *ngFor="let appointment of userList">
                <td class="table-content">{{appointment.userName}} </td>
                <td class="table-content">{{appointment.userPhone}} </td>
                <td class="table-content">{{appointment.availedService}} </td>
                <td class="table-content">{{appointment.providerName}} </td>
                <td class="table-content">{{appointment.providerPhone}} </td>
                <td class="table-content">{{appointment.status}} </td>



                <!-- <td class="table-content">
                  <img class="filterIcon icons" src="./assets/img/icons/delete.svg" alt="filter" (click)="deleteUserOrProduct(product._id)">
                  <img class="filterIcon icons" src="./assets/img/icons/edit.svg" alt="filter" (click)="editProduct(product)">
                </td> -->
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>