<div class="dHeader dHeaderExtra">
  <p class="mt-3"> {{data.data ? 'Edit' : 'Add'}} {{data.url.toUpperCase()}}
    <img (click)="dialogRef.close()" class="cancel-icon" src="./assets/img/icons/close-button.svg" alt="">
  </p>
</div>
<div class="dialog-container addSiteCoordinator">
  <form [formGroup]="form" novalidate>
        <div class="" formGroupName="users" *ngIf="data.url === 'users'">
            <div class="row">
              <div class="col-md" >
                  <div class="form-group row">
                    <label for="name">Name</label>
                  </div>
                  <div class="row">
                    <input type="text"  class="form-control " formControlName="name" placeholder="Enter Name"/>
                  </div>
                </div>

                <div class="col-md" >
                    <div class="form-group row">
                      <label for="email">Email Id</label>
                    </div>
                    <div class="row">
                        <input type="email"  class="form-control mb-4 " formControlName="emailId" placeholder="Enter Email Id"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md" >
                      <div class="form-group row">
                        <label for="phone">Phone</label>
                      </div>
                      <div class="row">
                        <input type="number"  class="form-control " formControlName="phone" placeholder="Enter Contact"/>
                      </div>
                    </div>
                    <div class="col-md" >
                        <div class="form-group row">
                          <label for="type">Type</label>
                        </div>
                        <div class="row">
                          <input type="text"  class="form-control " formControlName="type" placeholder="Enter Type"/>
                        </div>
                      </div>
              </div>
        <div class="d-flex flex-row row uploadSection  mt-2 mb-4">
          <ng-container>
            <div class="col-md" (click)="file.click()">
              <img src="./assets/img/fileUpload.png" />
              <input type="file" #file  [multiple]="false" (change)="onFileChange($event)" />
              <p class="fileUploadTextShort">
                Browse a document to upload.</p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="" formGroupName="users" *ngIf="data.url === 'product'">
          <div class="row">
            <div class="col-md" >
                <div class="form-group row">
                  <label for="subjectEmail">Product Name</label>
                </div>
                <div class="row">
                  <input type="text"  class="form-control " formControlName="productName" placeholder="Enter Name"/>
                </div>
              </div>

              <div class="col-md" >
                  <div class="form-group row">
                    <label for="subjectEmail">Description</label>
                  </div>
                  <div class="row">
                      <input type="text"  class="form-control mb-4 " formControlName="description" placeholder="Enter Description"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md" >
                    <div class="form-group row">
                      <label for="subjectEmail">Price</label>
                    </div>
                    <div class="row">
                      <input type="number"  class="form-control " formControlName="price" placeholder="Enter Price"/>
                    </div>
                  </div>
                  <div class="col-md" >
                      <div class="form-group row">
                        <label for="subjectEmail">Content</label>
                      </div>
                      <div class="row">
                        <input type="text"  class="form-control " formControlName="content" placeholder="Enter Content"/>
                      </div>
                    </div>
            </div>
      <div class="d-flex flex-row row uploadSection  mt-2 mb-4">
        <ng-container>
          <div class="col-md" (click)="file.click()">
            <img src="./assets/img/fileUpload.png" />
            <input type="file" #file  [multiple]="false" (change)="onFileChange($event)" />
            <p class="fileUploadTextShort">
              Browse a document to upload.</p>
          </div>
        </ng-container>
      </div>
    </div>
  </form>

  <div class="d-flex flex-row row dialogButton">
    <div class="col-md">
      <div class="form-group row ">
        <button mat-raised-button class="primary saveButton col-md" flex-row-reverse (click)="saveUsers()">Save</button>
      </div>
    </div>
  </div>
</div>
