.form-control {
  width: 100%;
}

.addMoreDialog {
  margin-left: 9px;
  margin-bottom: 25px;
}

.addMoreDifferent {
  margin-left: -3px;
}

.addAnother {
  color: #28bfc7;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 18px;
}

.dialog-container {
  max-height: 650px;
  margin-top: 3%;
}


.siteCoordinatorStyle input,
.siteCoordinatorStyle select{
  width: 290px !important;
}

/* .widthFull{
  width: 100% !important;
} */